<ion-header>
    <ion-navbar>
        <button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
        <ion-title>Order Forms</ion-title>
    </ion-navbar>
</ion-header>

<div class='has-error' *ngIf='errorMessage'>{{errorMessage}}</div>

<ion-content padding class="page1">

    <ion-list>
        <ion-item *ngFor="let orderForm of orderForms" (click)="itemSelected(orderForm)">
         <ion-icon name="paper"></ion-icon>   {{orderForm.frameworkContractNumber}} (request : {{orderForm.requestIdentifier}})
        </ion-item>
    </ion-list>

</ion-content>